.delete,
.delete_confirm,
.handle {
    display: none;
}
button.delete_confirm {
    float: right;
    overflow: hidden;
    margin: 0;
    border-width: 0 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    -webkit-border-image: url(../img/redButton.png) 0 5 0 5;
    
}
.edit .delete,
.edit .handle {
    display: block;
}
.edit .view_todo {
    display: none;
}

.edit .handle {
    float: right;
    width: 32px;
    height: 29px;
    border: none;
    background: url(../img/handle.png) no-repeat center left;
}
.edit .handle span {
    display: none;
}

body > ul.edit > li > a {
    background: none;
    padding: 8px 10px 8px 10px;
}
ul.edit a[selected],
ul.edit a:active {
    background-color: #194fdb !important;
    background-image: url(../iui/selection.png) !important;
    background-repeat: repeat-x;
    background-position: left top;
}

li.done {
    color: #999;
}
li.done label {
    text-decoration: line-through;
}

button.view_todo {
    display: block;
    float: right;
    width: 29px;
    height: 29px;
    border: none;
    background: url(../iui/listArrow.png) no-repeat center center;
}
button.view_todo span {
    display: none;
}

button.delete {
    width: 29px;
    height: 29px;
    margin-right: 0.5em;
    float: left;
    border: none;
    background: url(../img/delete.png) no-repeat center center;
}

button.delete span {
    display: none;
}

li.deleting button.delete {
    background: url(../img/deleting.png) no-repeat center center;
}

li.deleting button.delete_confirm {
    display: block;
}
li.deleting .handle {
    display: none;
}