.delete,
.delete_confirm {
    display: none;
}
.delete_confirm {
    float: right;
}
.edit .delete {
    display: block;
}

body > ul.edit > li > a {
    background: none;
}
ul.edit a[selected],
ul.edit a:active {
    background-color: #194fdb !important;
    background-image: url(iui/selection.png) !important;
    background-repeat: repeat-x;
    background-position: left top;
}

li.done {
    color: #999;
}

button.delete {
    width: 29px;
    height: 29px;
    margin-right: 0.5em;
    float: left;
    border: none;
    background: url(delete.png) no-repeat center center;
}

button.delete span {
    display: none;
}

li.deleting button.delete {
    background: url(deleting.png) no-repeat center center;
}

li.deleting button.delete_confirm {
    display: block;
}